<h1 mat-dialog-title>Create an incident</h1>
<div mat-dialog-content class="ticket-modal">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Intitulé" formControlName="title">
        <mat-error *ngIf="this.ticketForm.get('title').invalid && (this.ticketForm.get('title').dirty || this.ticketForm.get('title').touched) && this.ticketForm.get('title').errors.required">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Detail</mat-label>
        <textarea type="text" matInput placeholder="Détail" formControlName="detail"></textarea>
        <mat-error *ngIf="this.ticketForm.get('detail').invalid && (this.ticketForm.get('detail').dirty || this.ticketForm.get('detail').touched) && this.ticketForm.get('detail').errors.required">
          Detail is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Concerned client</mat-label>
        <mat-select formControlName="client">
          <mat-option *ngFor="let client of clients$ | async" [value]="client.id">
            {{ client.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div mat-dialog-actions class="modal-bottom">
        <button mat-stroked-button color="primary" (click)="onCancelClick()">Cancel</button>
        <button mat-raised-button cdkFocusInitial color="primary" type="submit">Save</button>
      </div>
    </form>
</div>
