
  <mat-card class="mx-auto col-md-4">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username...">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password...">
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
      </div>
    </mat-card-content>
  </mat-card>

