.project-detail-content {
  color: #EEEEEE;
  padding: 15px 10px;
}

h1 {
  text-align: left;
  font-weight: bold;
}

section + section {
  margin-top: 15px;
}

.float__button {
  border-color: #00bfa5;
}

.buttons-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 40px;
  bottom: 20px;
  min-height: 80px;
  justify-content: space-between;
  align-content: space-between;
}

mat-paginator, table {
  width: 100%;
  background-color: #393e46;
}

.table-column {
  width: 20%;
}

.back__button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.total{
  text-align: center;
  font-size: 1rem;
}
