<h1 mat-dialog-title>Incident report</h1>
<div mat-dialog-content>
  <p>Id : {{ data.id }}</p>
  <p>Concerned project : {{ data.projectName | titlecase }}</p>
  <p>Created : {{ data.date | date }}</p>
  <p>State : {{ data.status | status }}</p>
  <p>Title : {{ data.title | titlecase }}</p>
  <p>Detail : {{ data.content }}</p>
  <p *ngIf="!!data.client">Rapporteur : {{ data.client.name | titlecase }}</p>
  <p>Assigned user : {{ data.userName ? data.userName : 'No one for now' |titlecase }}</p>
</div>
<div mat-dialog-actions class="modal-bottom">
  <button mat-stroked-button color="primary" (click)="onCancelClick()">Close</button>
  <button mat-raised-button cdkFocusInitial color="primary" *ngIf="!data.userName" (click)="onAssignClick()">Assign to me</button>
  <button mat-raised-button cdkFocusInitial color="primary" *ngIf="canResolve()" (click)="onResolveClick()">Resolve</button>
  <button mat-raised-button cdkFocusInitial *ngIf="canUpdate()" color="primary" (click)="onUpdateClick()">Modify</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="onDeleteClick()">Delete</button>
</div>
