<h1 mat-dialog-title>Add developer to project {{ data.project | titlecase }}</h1>
<div mat-dialog-content class="add-user-project-modal">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>User to add</mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user.username">
          {{ user.username | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions class="modal-bottom">
      <button mat-stroked-button color="primary" (click)="onCancelClick()">Cancel</button>
      <button mat-raised-button cdkFocusInitial color="primary" type="submit">Add</button>
    </div>
  </form>
</div>
